@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,200&family=Kalam:wght@700&family=League+Gothic&family=Roboto+Mono:ital,wght@1,300&display=swap');
* {box-sizing: border-box;}
body, h1, h2, h3, h4, p {
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
body {
    background-color: #eaebcf;
}
.wrap-header {
    width: 100%;
    background-color: rgba(234, 235, 207, 0.5);
    backdrop-filter: blur(10px);
    border-bottom-color: #87B968;
    margin: 0;
    position: sticky;
    top: 0px;
}
.wrap-content {
    width: 100%;
    margin: 0 auto;
    background-color: #eaebcf;
}
header {
    background-color: rgba(234, 235, 207, 0.5);
    border-bottom: 3px solid #87B968;
    width: 100%;
    margin: 0;
    padding: 20px 25px;
    display: flex;
}
header .logo {
    background-image: url(image/logo.svg);
    background-repeat: no-repeat;
    background-color: rgba(234, 235, 207, 0);
    margin-right: auto;
    margin-top: -3px;
}
header .logo a {
    display: block;
    width: 385px; height: 58px;
    text-indent: -9999px;
    overflow: hidden;
}
header ul {
    margin: 0; padding: 0;
    list-style: none;
    display: flex;
    gap: 15px;
}
header ul a {
    color: #87B968;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    display: block;
    border: 2px solid #87B968;
    border-radius: 40px;
    padding: 8px 17px;
    background-color: #fff;
    margin-top: 11px;
}
header ul a:hover {
    color: #fff;
    background-color: #87B968;
}
header button {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    display: block;
    border: 2px solid #87B968;
    border-radius: 40px;
    padding: 1px 25px;
    background-color: #87B968;
    margin-left: auto;
}
header button:hover {
    color: #87B968;
    background-color: #fff;
}
main {
    text-align: center;
    color: #fff;
    width: 100%; height: 450px;
    background-image: url(image/main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 90px;
    margin-bottom: 20px;
}
main h1 {
    font-family: "Kalam", cursive;
    font-size: 80px;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0 0 5px rgba(99, 99, 99, 0.3);
}
main h3 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: light italic;
    font-size: 32px;
    text-shadow: 0 0 5px rgba(99, 99, 99, 0.5);
}
main h5 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: extra light;
    font-size: 15px;
    font-weight: 300;
    text-shadow: 0 0 5px rgba(99, 99, 99, 0.7);
    padding: 10px 290px;
}
section {
    width: 95%;
    display: flex;
    gap: 30px;
    padding-top: 40px;
    padding-left: 80px;
}
.card {
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px 0.5px #636363;
}
.card:hover {
    color: #525252;
    background-color: #e2e2e2b3;
}
.card-content {
    color: #3c3c3c;
    text-align: left;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 24px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
footer {
    color: #8b8888;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}